<!DOCTYPE html>
<html dir="ltr" lang="tr-TR">
<head>
    <meta charset="utf-8" />

    <title>MovieAPI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->

    <script src="~/libs/jquery/jquery.min.js"></script>


    <link rel="shortcut icon" href="~/images/favicon.ico">

    <link href="~/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />


    <link href="~/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="~/libs/toastr/build/toastr.min.css">


    <!-- DataTables -->
    <link href="~/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/toastr/build/toastr.min.js"></script>

    <!--form validation-->
    <script src="~/libs/parsleyjs/parsley.min.js"></script>
    <script src="~/js/pages/form-validation.init.js"></script>

      

</head>
<body>



    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header rounded float-end">

               

            </div>
        </header>
        <div class="vertical-menu">
            <div class="navbar-brand-box">
                           
                    <span class="logo-lg">
                        <h3>MovieAPI</h3>
                    </span>
               

               
            </div>         

            <div data-simplebar class="sidebar-menu-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>

                        <li>
                            <a asp-area="" asp-controller="Film" asp-action="Index">
                                <span>FİLMLER</span>
                            </a>
                        </li>
                          <li>
                            <a asp-area="" asp-controller="Film" asp-action="DateFilter">
                                <span>FİLMLERİ FİLTRELE</span>
                            </a>
                        </li>

                      


                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">Dashboard</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">MovieAPI</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <main role="main">
                        <div class="container-fluid">@RenderBody()</div>
                    </main>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>  MovieAPI.
                    </div>
                    
                </div>
            </div>
        </footer>



        <script src="~js/site.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/libs/metismenu/metisMenu.min.js"></script>
        <script src="~/libs/simplebar/simplebar.min.js"></script>
        <script src="~/libs/node-waves/waves.min.js"></script>
        <script src="~/libs/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="~/libs/jquery.counterup/jquery.counterup.min.js"></script>


        <script src="~/libs/apexcharts/apexcharts.min.js"></script>

        <script src="~/js/pages/dashboard.init.js"></script>

         <script src="~/libs/tinymce/tinymce.min.js"></script>

        <!-- App js -->
        <script src="~/js/app.js"></script>>

        <!-- Required datatable js -->
        <script src="~/libs/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

        <script src="~/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="~/libs/jszip/jszip.min.js"></script>
        <script src="~/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="~/libs/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

        <!-- Responsive examples -->
        <script src="~/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

        <!-- Datatable init js -->
        <script src="~/js/pages/datatables.init.js"></script>

        <!-- ckeditor -->
        <script src="~/libs/@@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>

        <!--tinymce js-->
        <script src="~/libs/tinymce/tinymce.min.js"></script>

        <!-- init js -->
        <script src="~/js/pages/form-editor.init.js"></script>

           
    </div>

</body>
</html>
